.page {
  display: grid;
  gap: 1rem 2rem;
  grid-template:
    'title title'
    'sidebar content' 1fr / min-content;
}

.title {
  grid-area: title;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}
